.btn-blue {
  background-color: #7575ff;
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  transition: all 0.3s ease-in-out;
}

.btn-blue:hover {
  background-color: #4040ff;
  color: #eeeeee;
  transform: scale(1.1);
}
